<div class="jumbotron">
  <h2 class="text-center">Welcome to Leave Tracking System</h2>
  <p class="lead">
 <div class="col-md-12 z-btn">
   <%= link_to "Register Now", new_user_registration_path,class: "btn btn-primary btn-lg" %>
  </div>
  </p>
</div>